<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

  </head>
  <body>
   <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-12 head-col d-flex align-item-center justify-content-center p-5 shadow mb-4">
          <img src="/images/logo.png" alt="League of legends">
        </div>
        <div class="col-12 px-3 mb-3 d-flex justify-content-between">
          <p class="h5 text-white">Champions list</p>
          <div>
            <a href="/database" class="btn btn-light">Database listing</a>
            <a href="/json-load" class="btn btn-light">Json listing</a>
          </div>
        </div>

        <div class="col-12">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/diana.png" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Diana</h5>
                      <p class="card-text">Mage, Assassin</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/diana/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/lux.jpg" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Lux</h5>
                      <p class="card-text">Mage</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/lux/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/yone.jpg" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Yone</h5>
                      <p class="card-text">Fighter</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/yone/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/zed.jpg" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Zed</h5>
                      <p class="card-text">Assasin</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/zed/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/ashe.jpg" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Ashe</h5>
                      <p class="card-text">Marksman</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/ashe/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/ziggs.png" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Ziggs</h5>
                      <p class="card-text">Mage</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/ziggs/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card champ-card" style="width: 18rem;">
                    <img src="/images/kayn.png" class="card-img-top" alt="Diana">
                    <div class="card-body text-white">
                      <h5 class="card-title">Kayn</h5>
                      <p class="card-text">Fighter</p>
                      <a href="https://euw.leagueoflegends.com/en-gb/champions/kayn/" target="_blank" class="btn btn-light">Click for more</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

   <script>
      document.addEventListener( 'DOMContentLoaded', function () {
        new Splide( '.splide' ,{
          perPage: 6,
        } ).mount();
      });
  </script>

  </body>
</html>
