<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

  </head>
  <body>
   <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-12 p-3 mb-3 d-flex justify-content-between">
            <p class="h5 text-white">JSON list</p>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addNew">
                Add new
              </button>
        </div>
        <div class="col-12">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <% for (var i = 0; i < data.length; i++) {%>
                    <li class="splide__slide">
                        <div class="card champ-card" style="width: 18rem;">
                        <img src="<%= data[i].photo %>" class="card-img-top" alt="<% data[i].name %>" style="width: 250px!important; height:250px!important;">
                        <div class="card-body text-white">
                            <h5 class="card-title"><%= data[i].name %></h5>
                            <p class="card-text"><%= data[i].characteristics %></p>
                        </div>
                        </div>
                    </li>
                <% }%>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
    <div class="modal fade" id="addNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <form action="/json-load" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new person</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control" id="image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="characteristics" class="form-label">characteristics</label>
                        <input type="text" class="form-control" id="characteristics" name="characteristics">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>

   <script>
      document.addEventListener( 'DOMContentLoaded', function () {
        new Splide( '.splide' ,{
          perPage: 6,
        } ).mount();
      });
  </script>

  </body>
</html>
