body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif!important;
  background-color: #343d4b!important;
  padding: 0;

}

.head-col{
  background-color: #222831;
}

.champ-card{
  background-color: #f05454!important;
}

